In [ ]:
#Iterator example: "for i in range(n):"
#generator example: "for i in xrange(n):"
    #this creates a generator. 
    #as we loop through the for loop, the generator provides the next number in the sequence we need. 
    #generators are faster than iterators.

In [3]:
#iterable example
prices = [10000, 20000, 15000]
car_sizes = ["small", "large", "medium"]
colors = ["red", "blue"]
list(zip(prices, car_sizes))
list(zip(prices, car_sizes, colors))
#the length of the listed tuples changed b/c the colors  only contains 2 elements.

[(10000, 'small', 'red'), (20000, 'large', 'blue')]

In [5]:
from itertools import zip_longest
list(zip_longest(prices, car_sizes, colors))
#This allows you to created a listed tuple aligned with the value containeing the longest element.

[(10000, 'small', 'red'), (20000, 'large', 'blue'), (15000, 'medium', None)]

In [6]:
#if you don't want to use "None" as the filled in missing value. Do the fillvalue= function to replace 'None' w/ "?"
list(zip_longest(prices, car_sizes, colors, fillvalue="?"))

[(10000, 'small', 'red'), (20000, 'large', 'blue'), (15000, 'medium', '?')]

In [7]:
list(zip(prices))

[(10000,), (20000,), (15000,)]

In [8]:
list(zip(prices))[0]

(10000,)

In [9]:
#to get the actual value, not the tuple. index the 1st value twice. 
list(zip(prices))[0][0]

10000

In [10]:
#another iterable example: 
for i in range(4): 
    print(i)

0
1
2
3

In [11]:
#iterables: are lists, strings, dictionaries, file connections. 
#iterables are an object w/ an associated iter(method)
#Applying iter() to an iterable creates an iterator
#an iterator produces the next value w/ next() or has next()associated with it.

In [12]:
#Iterating over iterables: next()
word = 'Da'
it = iter(word)
next(it)

'D'

In [13]:
next(it)

'a'

In [14]:
#iterating at once w/ a *
#this unpacks all elements of an iterator. 
word = 'Data'
it = iter(word)
print(*it)

D a t a

In [20]:
#iterator over dictionaries example
# unpack the iterables using the .items() method. 
pythonistas = {'hugo': 'bowne-anderson', 'francis': 'castro', 'alex': 'yeo'}
for key, value in pythonistas.items(): 
    print(key, value)

hugo bowne-anderson
francis castro
alex yeo

In [21]:
# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for person in flash: 
    print(person)


# Create an iterator for flash: superhero
superhero = iter(flash)

# Print each item 4x from the iterator
print(next(superhero))
print(next(superhero))
print(next(superhero))
print(next(superhero))

jay garrick
barry allen
wally west
bart allen
jay garrick
barry allen
wally west
bart allen

In [22]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for num in range(3): 
    print(num)


# Create an iterator for range(10 ** 100): googol
googol = iter(range(10 ** 100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

In [23]:
# Create a range, 10-20, object: values
values = range(10,21)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

range(10, 21)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

In [24]:
#enumerator functions (enumerate())
#enumerators is used in loops to return what position the element,values are while looping. example below
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
for index, value in enumerate(avengers):
    print(index, value)

0 hawkeye
1 iron man
2 thor
3 quicksilver

In [26]:
#runs the enumerate function and starts the index at 10. 
for index, value in enumerate(avengers, start = 10): 
    print(index, value)

10 hawkeye
11 iron man
12 thor
13 quicksilver

In [29]:
#using zip() to create a listed tuple.
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']
zip(avengers, names)
print(list(zip(avengers, names)))

[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [30]:
#unzip the listed tuple above. 
for z1, z2 in zip(avengers, names): 
    print(z1, z2)

hawkeye barton
iron man stark
thor odinson
quicksilver maximoff

In [31]:
#also using * operator to zip 
z = zip(avengers, names)
print(*z)

('hawkeye', 'barton') ('iron man', 'stark') ('thor', 'odinson') ('quicksilver', 'maximoff')

In [1]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1, value1 in enumerate(mutants):
    print(index1, value1)

# Change the start index to 1
for index2, value2 in enumerate(mutants, start = 1):
    print(index2, value2)

#correct output
[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde
1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pryde

SyntaxError: invalid syntax (3149322386.py, line 24)

In [ ]:
# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants, aliases, powers))

# Print the list of tuples
print(mutant_data)

# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants, aliases, powers)

# Print the zip object
print(mutant_zip)

# Unpack the zip object and print the tuple values
for value1, value2, value3 in mutant_zip:
    print(value1, value2, value3)

#correct output: 
[('charles xavier', 'prof x', 'telepathy'), ('bobby drake', 'iceman', 'thermokinesis'), ('kurt wagner', 'nightcrawler', 'teleportation'), ('max eisenhardt', 'magneto', 'magnetokinesis'), ('kitty pryde', 'shadowcat', 'intangibility')]
<zip object at 0x7f6a85c016c0>
charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pryde shadowcat intangibility

In [ ]:
# Create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# Print the tuples in z1 by unpacking with *
print(*z1)

# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)

#correct output: 
('charles xavier', 'telepathy') ('bobby drake', 'thermokinesis') ('kurt wagner', 'teleportation') ('max eisenhardt', 'magnetokinesis') ('kitty pryde', 'intangibility')
True
True

In [32]:
#iterating large data
#load data in chunks if the data is too large to hold in memory
#use pandas function: read_csv()
    #specify the chunk size, chunksize

In [ ]:
import pandas as pd
result = []
for chunk in pd.read_csv('data.csv', chunksize=1000): 
    result.append(sum(chunk['x']))

total - sum(result)
print(total)

#correct output:
4252532

In [ ]:
#another way of iterating over data
total = 0
for chunk in pd.read_csv('data.csv', chunksize=1000):
    total+=sum(chunk['x'])
print(total)

#correct output:
4252532

In [ ]:
#Initialize an empty dictionary counts_dict for storing the results of processing the Twitter data.
#Iterate over the 'tweets.csv' file by using a for loop. 
#Use the loop variable chunk and iterate over the call to pd.read_csv() with a chunksize of 10.
#In the inner loop, iterate over the column 'lang' in chunk by using a for loop. Use the loop variable entry.

# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('tweets.csv', chunksize=10):


    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

#correct output: 
{'en': 97, 'et': 1, 'und': 2}

In [ ]:
#Define the function count_entries(), which has 3 parameters. 
#The first parameter is csv_file for the filename, the second is c_size for the chunk size, 
#and the last is colname for the column name.
#Iterate over the file in csv_file file by using a for loop. 
#Use the loop variable chunk and iterate over the call to pd.read_csv(), passing c_size to chunksize.
#In the inner loop, iterate over the column given by colname in chunk by using a for loop. Use the loop variable entry.
#Call the count_entries() function by passing to it the filename 'tweets.csv', the size of chunks 10, 
#and the name of the column to count, 'lang'. Assign the result of the call to the variable result_counts.

# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize=c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries('tweets.csv', 10, 'lang')

# Print result_counts
print(result_counts)

#correct output: 
{'en': 97, 'et': 1, 'und': 2}

In [2]:
def num_sequence(n):
    """Generate values from 0 to n."""
    i = 0
    while i < n: 
        yield i
        i += 1

In [3]:
print(list(num_sequence(5)))

[0, 1, 2, 3, 4]