In [2]:
a = ["banana", "apple", "microsoft"]

In [2]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [3]:
#instead use for loop:
for element in a: 
    print(element)

banana
apple
microsoft

In [5]:
b = [20, 10, 5]
for e in b: 
    print(e)

20
10
5

In [6]:
c = [20, 10, 5]
total = 0
for e in c: 
    total = total + e
print(total)

35

In [7]:
#instead of manually typing out 1, 2, 3, 4, 5. do the following instead
c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [10]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [12]:
total2 = 0
for i in range(1, 5):
    total2 += i
print(total2)

10

In [16]:
#find the sum of numbers that are only multiples of 3
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [18]:
total3= 0
for i in range(1,8):
    if i % 3 == 0:
        total3+= i
print(total3)

9

In [7]:
#compute the sum of all multiples of 3 and 5
#that are less than 100 
print(list(range(1, 100)))
total4 = 0
for i in range(1,100):
    if i % 3 ==0: 
        if i % 5 == 0:
            if i < 100:
                total4+= i
print(total4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
315

In [27]:
#Write a for loop that iterates over all elements of the areas list and prints out every element separately.

# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for i in areas: 
    print(i)

11.25
18.0
20.0
10.75
9.5

In [28]:
#Adapt the for loop in the sample code to use enumerate() and use two iterator variables.
#Update the print() statement so that on each run, a line of the form "room x: y" should be printed, 
#where x is the index of the list element and y is the actual list element, i.e. the area. 
#Make sure to print out this exact string, with the correct spacing.

# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room" + str(index) + ":" + str(a))

room0:11.25
room1:18.0
room2:20.0
room3:10.75
room4:9.5

In [29]:
#Adapt the print() function in the for loop so that the first printout becomes "room 1: 11.25", the second one "room 2: 18.0" and so on.

# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index+1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [30]:
#Write a for loop that goes through each sublist of house and prints out the x is y sqm, 
#where x is the name of the room and y is the area of the room.

# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for rm in house: 
    print("the " + str(rm[0]) + " is " + str(rm[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [31]:
#dictionary loop practice
#Write a for loop that goes through each key:value pair of europe. On each iteration, 
# "the capital of x is y" should be printed out, where x is the key and y is the value of the pair.

# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key, value in europe.items(): 
    print("the capital of " + str(key) + " is " + str(value))

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna