In [ ]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT Title, Name FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print head of DataFrame df
print(df.head())

#correct output:
                                   Title       Name
0  For Those About To Rock We Salute You      AC/DC
1                      Balls to the Wall     Accept
2                      Restless and Wild     Accept
3                      Let There Be Rock      AC/DC
4                               Big Ones  Aerosmith

In [ ]:
# Execute uery: select all records from PlaylistTrack INNER JOIN Track on 
#PlaylistTrack.TrackId = Track.TrackId that satisfy the condition Milliseconds < 250000. and store records in DataFrame: df
df = pd.read_sql_query("SELECT * FROM PlaylistTrack INNER JOIN Track on PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000", engine)

# Print head of DataFrame
print(df.head())

#correct output: 
       PlaylistId  TrackId  TrackId              Name  AlbumId  ...  GenreId  Composer Milliseconds    Bytes  UnitPrice
    0           1     3390     3390  One and the Same      271  ...       23      None       217732  3559040       0.99
    1           1     3392     3392     Until We Fall      271  ...       23      None       230758  3766605       0.99
    2           1     3393     3393     Original Fire      271  ...       23      None       218916  3577821       0.99
    3           1     3394     3394       Broken City      271  ...       23      None       228366  3728955       0.99
    4           1     3395     3395          Somedays      271  ...       23      None       213831  3497176       0.99