In [ ]:
# Merge movies and financials with a left join
movies_financials = movies.merge(financials,on = "id", how = "left")

# Merge the toy_story and taglines tables with a inner join
toystory_tag = toy_story.merge(taglines, on = "id", how = "inner")

# Print the rows and shape of toystory_tag
print(toystory_tag)
print(toystory_tag.shape)

#correct output:
      id        title  popularity release_date                   tagline
0  10193  Toy Story 3      59.995   2010-06-16  No toy gets left behind.
1    863  Toy Story 2      73.575   1999-10-30        The toys are back!

(2, 5)

In [ ]:
# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act','_sci'))

# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]

# Merge the movies and scifi_only tables with an inner join
movies_and_scifi_only = movies.merge(scifi_only, how = "inner", left_on = "id", right_on="movie_id")

# Print the first few rows and shape of movies_and_scifi_only
print(movies_and_scifi_only.head())
print(movies_and_scifi_only.shape)

#correct output: 
        id                         title  popularity release_date  movie_id genre_act        genre_sci
    0  18841  The Lost Skeleton of Cadavra       1.681   2001-09-12     18841       NaN  Science Fiction
    1  26672     The Thief and the Cobbler       2.439   1993-09-23     26672       NaN  Science Fiction
    2  15301      Twilight Zone: The Movie      12.903   1983-06-24     15301       NaN  Science Fiction
    3   8452                   The 6th Day      18.447   2000-11-17      8452       NaN  Science Fiction
    4   1649    Bill & Ted's Bogus Journey      11.350   1991-07-19      1649       NaN  Science Fiction
    (258, 7)

In [ ]:
#Merge movie_to_genres and pop_movies using a right join. Save the results as genres_movies.
#Group genres_movies by genre and count the number of id values.

# Use right join to merge the movie_to_genres and pop_movies tables
genres_movies = movie_to_genres.merge(pop_movies, how='right', 
                                      left_on = "movie_id", 
                                      right_on="id")

# Count the number of genres
genre_count = genres_movies.groupby('genre').agg({'id':'count'})

# Plot a bar chart of the genre_count
genre_count.plot(kind='bar')
plt.show()

In [1]:
#Save to iron_1_and_2 the merge of iron_1_actors (left) with iron_2_actors tables with an outer join on the id column
#and set suffixes to ('_1','_2').
#Create an index that returns True if name_1 or name_2 are null, and False otherwise.

# Merge iron_1_actors to iron_2_actors on id with outer join using suffixes 
iron_1_and_2 = iron_1_actors.merge(iron_2_actors,
                                     on = "id",
                                     how = "outer",
                                     suffixes=('_1','_2'))

# Create an index that returns true if name_1 or name_2 are null
m = ((iron_1_and_2['name_1'].isnull()) | 
     (iron_1_and_2['name_2'].isnull()))

# Print the first few rows of iron_1_and_2
print(iron_1_and_2[m].head())

#correct output:
                   character_1      id           name_1 character_2 name_2
0                       Yinsen   17857       Shaun Toub         NaN    NaN
2  Obadiah Stane / Iron Monger    1229     Jeff Bridges         NaN    NaN
3                  War Machine   18288  Terrence Howard         NaN    NaN
5                         Raza   57452      Faran Tahir         NaN    NaN
8                   Abu Bakaar  173810    Sayed Badreya         NaN    NaN

IndentationError: unexpected indent (3569334016.py, line 19)

In [ ]:
#To a variable called crews_self_merged, merge the crews table to itself on the id column using an inner join, 
#setting the suffixes to '_dir' and '_crew' for the left and right tables respectively.
crews_self_merged = crews.merge(crews,on = "id", suffixes = ("_dir", "_crew"))

# Create a Boolean index to select the appropriate
boolean_filter = ((crews_self_merged['job_dir'] == "Director") & 
     (crews_self_merged['job_crew'] != "Director"))
direct_crews = crews_self_merged[boolean_filter]

#correct output: 
        id   job_dir       name_dir        job_crew          name_crew
156  19995  Director  James Cameron          Editor  Stephen E. Rivkin
157  19995  Director  James Cameron  Sound Designer  Christopher Boyes
158  19995  Director  James Cameron         Casting          Mali Finn
160  19995  Director  James Cameron          Writer      James Cameron
161  19995  Director  James Cameron    Set Designer    Richard F. Mays

In [ ]:
#Merge movies and ratings on the index and save to a variable called movies_ratings, 
#ensuring that all of the rows from the movies table are returned.

# Merge to the movies table the ratings table on the index
movies_ratings = movies.merge(ratings, on = "id", how = "left")

# Print the first few rows of movies_ratings
print(movies_ratings.head())

#correct output:
                      title  popularity release_date  vote_average  vote_count
    id                                                                            
    257            Oliver Twist      20.416   2005-09-23           6.7       274.0
    14290  Better Luck Tomorrow       3.877   2002-01-12           6.5        27.0
    38365             Grown Ups      38.864   2010-06-24           6.0      1705.0
    9672               Infamous       3.681   2006-11-16           6.4        60.0
    12819       Alpha and Omega      12.301   2010-09-17           5.3       124.0

In [ ]:
#With the sequels table on the left, merge to it the financials table on index named id, 
#ensuring that all the rows from the sequels are returned and some rows from the other table may not be returned, 
#Save the results to sequels_fin.

# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on = "id", how = "left")

# Self merge with suffixes as inner join with left on sequel and right on id
orig_seq = sequels_fin.merge(sequels_fin, how='inner', left_on="sequel", 
                             right_on="id", right_index=True,
                             suffixes=('_org', '_seq'))

# Add calculation to subtract revenue_org from revenue_seq 
orig_seq['diff'] = orig_seq['revenue_seq'] - orig_seq['revenue_org']

# Select the title_org, title_seq, and diff 
titles_diff = orig_seq[['title_org', 'title_seq', 'diff']]

Sort by titles_diff by diff in descending order and print the first few rows.
print(titles_diff.sort_values('diff', ascending = False).head())

#correct output:
                   title_org        title_seq       diff
    id                                                  
    331    Jurassic Park III   Jurassic World  1.145e+09
    272        Batman Begins  The Dark Knight  6.303e+08
    10138         Iron Man 2       Iron Man 3  5.915e+08
    863          Toy Story 2      Toy Story 3  5.696e+08
    10764  Quantum of Solace          Skyfall  5.225e+08