In [1]:
#Create a list called baby_names with the names 'Ximena', 'Aliza', 'Ayden', and 'Calvin'.
#Use the .extend() method on baby_names to add 'Rowen' and 'Sandeep' and print the list.
#Use the .index() method to find the position of 'Rowen' in the list. Save the result as position.
#Use the .pop() method with position to remove 'Rowen' from the list.

# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(["Rowen", "Sandeep"])


# Find the position of 'Rowen': position
position = baby_names.index("Rowen")

# Remove 'Rowen' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Sandeep']

In [2]:
#Use a list comprehension on records to create a list called baby_names that contains the name, found in the fourth element of row.
#Print baby_names in alphabetical order using the sorted() function.
# Create the list comprehension: baby_names
baby_names = [item[3] for item in records]
    
# Print the sorted baby names in ascending alphabetical order
print(sorted(baby_names))

NameError: name 'records' is not defined

In [3]:
#Tuples are commonly created by zipping lists together with zip()
#top_pairs = list(zip(us_cookies, in_cookies))

In [4]:
#Unpacking tuples is a very expressive way for working with data. Most useful in working w/ loops. 
#from the tuple that zipped lists together above, us_num_1, in_num1 = top_pairs[0]
#print(us_num_1) and print(in_num_1) will give us the first item within the respective lists.

In [5]:
#Another useful tuple creation method is the enumerate() function. 
#enumerate() is used in loops to return the position and the data in what position while looping. 
#EX for idx, item in enumerate(top_pairs): 
#us_cookie, in_cokkie = item
#print(idx, us_cookie, in_cookie)
# this will give us the index position and the item in us_cookie, in_cookie

In [6]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
error = 'trailing comma',

# Print the types of the variables
print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

In [7]:
#strings

In [8]:
#Loop over the top_ten_girl_names list and use tuple unpacking to get the top_ten_rank and name.
#Print out each rank and name like this Rank #: 1 - Jada where the number 1 is the rank and Jada is the name.
# Loop over top_ten_girl_names and unpack each tuple into top_ten_rank and name
for top_ten_rank, name in top_ten_girl_names:
  	# Print each name in the proper format
    print(f"Rank #: {top_ten_rank} - { name }")

NameError: name 'top_ten_girl_names' is not defined

In [9]:
#Make a string that contains: The top ten boy names are: and store it as preamble.
#Make a string that contains: , and and store it as conjunction.
#Make a string that combines the first 9 names in boy_names list with a comma and store it as first_nine_names.
#Make an f-string that contains preamble, first_nine_names, conjunction, the final item in boy_names and a period.

# The top ten boy names are:  as preamble
preamble = "The top ten boy names are: "

# , and as conjunction
conjunction = ", and"

# Combines the first 9 names in boy_names with a comma and space as first_nine_names
first_nine_names = ", ".join(boy_names[0:9])

# Print f-string preamble, first_nine_names, conjunction, the final item in boy_names and a period
print(f"{preamble}{first_nine_names}{conjunction} {boy_names[-1]}.")

NameError: name 'boy_names' is not defined

In [10]:
#Store and print a list of girl_names that start with s.
#Store and print a list of girl_names with angel in them.

# Store a list of girl_names that start with s: names_with_s
names_with_s = [name for name in girl_names if name.lower().startswith('s')]

print(names_with_s)

# Store a list of girl_names that contain angel: names_with_angel
names_with_angel = [name for name in girl_names if 'angel' in name.lower()]

print(names_with_angel)

NameError: name 'girl_names' is not defined