In [1]:
import pandas as pd

In [2]:
#parse dates with the column specific column names
#rides = pd.read_csv('capital-onebike.csv', parse_dates = ['Start date', 'End date'])
#specify the date time manually 
#rides['Start date'] = pd.to_datetime(rides['start date'], format = "%Y-%m-%d %H:%M:%S")
#select start date for row 2
#rides['Start date'].iloc[2]
#result is Timestamp('2017-10-02 06:37:10')

In [3]:
#Timezone-aware arithmetic
#create a duration column
#rides['Duration'] = rides['End date'] - rides['Start date']
#print the first 5 rows
#print(rides['Duration'].head(5))
#Convert our durations to seconds
#rides['Duration']\
#.dt.total_seconds()\
#.head(5)

In [4]:
#Subtract the Start date column from the End date column to get a Series of timedeltas; assign the result to ride_durations.
#Convert ride_durations into seconds and assign the result to the 'Duration' column of rides.

# Subtract the start date from the end date
ride_durations = rides['End date'] - rides['Start date']

# Convert the results to seconds
rides['Duration'] = ride_durations.dt.total_seconds()

print(rides['Duration'].head())

<script.py> output:
    0     181.0
    1    7622.0
    2     343.0
    3    1278.0
    4    1277.0
    Name: Duration, dtype: float64

SyntaxError: invalid syntax (340897787.py, line 12)

In [5]:
#Summarizing datetime data in Pandas
#You can call mean, median, mode on any time column
#you can also find sum of the column of datetime. 
#finding percent of time out of the doc
#e.g rides['Duration'].sum/timedelta(days=91)

In [6]:
#find how many times a given value appears in a column
#e.g rides['Member type'].value_counts()
#e.g finding percent of rides by member rides['Member type'].value_counts()/len(rides)

In [7]:
# Add duration (in seconds) column
#rides['Duration secondns'] = rides['Duration'].dt.total_seconds()
#average duration per member type
#rides.groupby("Member type")['Duration seconds'].mean()
#Find Average duration by month using the resample method
#'M' stands for month within a datetime column
#rides.resample('M',  on = 'Start date')['Duration seconds'].mean()

In [8]:
#lookin for size per group
#rides.groupby('Member type').size() 
#get the first row of each group 
#rides.groupby('Member type').first()

In [9]:
#plotting summarized date time 
#rides\
#.resample('M',  on = 'Start date')\ #thhis is x-axis
#['Duration seconds']\   #This is y-axis
#.mean()\
#.plot()

In [10]:
#Create a Pandas Series which is True when Start station and End station are the same, and assign the result to joyrides.
#Calculate the median duration of all rides.
#Calculate the median duration of joyrides.

# Create joyrides
joyrides = (rides['Start station'] == rides['End station'])

# Total number of joyrides
print("{} rides were joyrides".format(joyrides.sum()))

# Median of all rides
print("The median duration overall was {:.2f} seconds"\
      .format(rides['Duration'].median()))

# Median of joyrides
print("The median duration for joyrides was {:.2f} seconds"\
      .format(rides[joyrides]['Duration'].median()))

6 rides were joyrides
The median duration overall was 660.00 seconds
The median duration for joyrides was 2642.50 seconds

SyntaxError: invalid syntax (254667182.py, line 19)

In [11]:
#Resample rides to the daily level, based on the Start date column.
#Plot the .size() of each result.

# Import matplotlib
import matplotlib.pyplot as plt

# Resample rides to daily, take the size, plot the results
rides.resample('D', on = 'Start date')\
  .size()\
  .plot(ylim = [0, 15])

# Show the results
plt.show()

NameError: name 'rides' is not defined

In [12]:
#Set monthly_rides to be a resampled version of rides, by month, based on start date.
#Use the method .value_counts() to find out how many Member and Casual rides there were, 
#and divide them by the total number of rides per month.

# Resample rides to be monthly on the basis of Start date
monthly_rides = rides.resample('M', on = 'Start date')['Member type']

# Take the ratio of the .value_counts() over the total number of rides
print(monthly_rides.value_counts() / monthly_rides.size())

Start date  Member type
2017-10-31  Member         0.769
            Casual         0.231
2017-11-30  Member         0.825
            Casual         0.175
2017-12-31  Member         0.861
            Casual         0.139
Name: Member type, dtype: float64

SyntaxError: invalid syntax (2780276693.py, line 11)

In [1]:
#Complete the .groupby() call to group by 'Member type', 
#and the .resample() call to resample according to 'Start date', by month.
#Print the median Duration for each group.

# Group rides by member type, and resample to the month
grouped = rides.groupby('Member type')\
  .resample('M', on = 'Start date')

# Print the median duration for each group
print(grouped['Duration'].median())

<script.py> output:
    Member type  Start date
    Casual       2017-10-31    1636.0
                 2017-11-30    1159.5
                 2017-12-31     850.0
    Member       2017-10-31     671.0
                 2017-11-30     655.0
                 2017-12-31     387.5
    Name: Duration, dtype: float64

SyntaxError: invalid syntax (1224241433.py, line 12)

In [2]:
#timezones and and daylight savings 
#putting datetimes into timezones
#rides['Start date']head(3)\.dt.tz_localize('America/New_York')
#sample output: 2017-10-01 15:23:25-4:00  ##-4:00 is the UTC offset.

In [3]:
#if trying to convert an entire column into timezones. 
#there will be an error message (e.g a row can be affected by day light savings)
#to handle the error messages, set ambiguous arguments into 'NaT'(not a time)
#ex. rides['Start date'] = rides['Start date']\.dt.tz_localize('America/New_York, ambiguous = 'NaT')
#so any summary codes will ignore NaT

In [4]:
#return the year of the first three rows. 
#rides['Start date']\.head(3)\.dt.year
#return the weekdays for the first three rides
#rides['Start date']\.head(3)\.dt.day_name()

In [5]:
#Shift the indexes forward by one. THis will shift the rows up by one
#eg. rides["End date"].shift(1).head(3)

In [6]:
#Make the Start date column timezone aware by localizing it to 'America/New_York' while ignoring any ambiguous datetimes.
# Localize the Start date column to America/New_York
rides['Start date'] = rides['Start date'].dt.tz_localize('America/New_York', ambiguous='NaT')

NameError: name 'rides' is not defined

In [7]:
# Convert the Start date column to Europe/London
rides['Start date'] = rides['Start date'].dt.tz_convert('Europe/London')

NameError: name 'rides' is not defined

In [8]:
# Add a column for the weekday of the start of the ride
rides['Ride start weekday'] = rides['Start date'].dt.day_name()

# Print the median trip time per weekday
print(rides.groupby('Ride start weekday')['Duration'].median())

NameError: name 'rides' is not defined

In [9]:
#Calculate the difference in the Start date of the current row 
#and the End date of the previous row and assign it to rides['Time since'].
#Convert rides['Time since'] to seconds to make it easier to work with.
#Resample rides to be in monthly buckets according to the Start date.
#Divide the average by (60*60) to get the number of hours on average that W20529 waited in the dock before being picked up again.

# Move from a timedelta to a number of seconds, which is easier to work with
rides['Time since'] = rides['Time since'].dt.total_seconds()

# Resample to the month
monthly = rides.resample('M', on = 'Start date')

# Print the average hours between rides each month
print(monthly['Time since'].mean()/(60*60))

NameError: name 'rides' is not defined