In [ ]:
# Update the data type of the 2019 column to a float
unemployment["2019"] = unemployment["2019"].astype(float)
# Print the dtypes to check your work
print(unemployment.dtypes)

#correct output: 
country_code     object
country_name     object
continent        object
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

In [ ]:
# Define a Series describing whether each continent is outside of Oceania
not_oceania = ~unemployment["continent"].isin(["Oceania"])

# Print unemployment without records related to countries in Oceania
print(unemployment[not_oceania])

#Correct Output: 

    country_code          country_name      continent   2010   2011  ...   2017   2018   2019   2020   2021
0            AFG           Afghanistan           Asia  11.35  11.05  ...  11.18  11.15  11.22  11.71  13.28
1            AGO                Angola         Africa   9.43   7.36  ...   7.41   7.42   7.42   8.33   8.53
2            ALB               Albania         Europe  14.09  13.48  ...  13.62  12.30  11.47  13.33  11.82
3            ARE  United Arab Emirates           Asia   2.48   2.30  ...   2.46   2.35   2.23   3.19   3.36
4            ARG             Argentina  South America   7.71   7.18  ...   8.35   9.22   9.84  11.46  10.90
..           ...                   ...            ...    ...    ...  ...    ...    ...    ...    ...    ...
175          VNM               Vietnam           Asia   1.11   1.00  ...   1.87   1.16   2.04   2.39   2.17
178          YEM           Yemen, Rep.           Asia  12.83  13.23  ...  13.30  13.15  13.06  13.39  13.57
179          ZAF          South Africa         Africa  24.68  24.64  ...  27.04  26.91  28.47  29.22  33.56
180          ZMB                Zambia         Africa  13.19  10.55  ...  11.63  12.01  12.52  12.85  13.03
181          ZWE              Zimbabwe         Africa   5.21   5.37  ...   4.78   4.80   4.83   5.35   5.17

[174 rows x 15 columns]

In [ ]:
# Print the minimum and maximum unemployment rates during 2021
print(unemployment['2021'].min(), unemployment['2021'].max())

# Create a boxplot of 2021 unemployment rates, broken down by continent
sns.boxplot(data=unemployment, x='2021', y='continent')
plt.show()

#correct output: 
0.26 33.56

In [ ]:
# Print the mean and standard deviation of rates by year
print(unemployment.agg(["mean","std"]))

#correct output:
      2010   2011   2012   2013   2014  ...   2017   2018   2019   2020   2021
mean  8.409  8.315  8.318  8.345  8.180  ...  7.669  7.426  7.244  8.421  8.391
std   6.249  6.267  6.367  6.416  6.284  ...  5.902  5.819  5.697  6.041  6.067

[2 rows x 12 columns]

In [ ]:
# Print yearly mean and standard deviation grouped by continent
print(unemployment.groupby('continent').agg(["mean", "std"]))

#correct output: 
<script.py> output:
                     2010           2011           2012  ...   2019    2020           2021       
                     mean    std    mean    std    mean  ...    std    mean    std    mean    std
    continent                                            ...                                     
    Africa          9.344  7.411   9.369  7.402   9.241  ...  7.455  10.308  7.928  10.474  8.132
    Asia            6.241  5.146   5.942  4.780   5.835  ...  5.254   7.012  5.700   6.906  5.415
    Europe         11.008  6.392  10.948  6.540  11.326  ...  4.125   7.471  4.071   7.415  3.948
    North America   8.663  5.116   8.563  5.377   8.449  ...  4.770   9.298  4.963   9.155  5.076
    Oceania         3.623  2.055   3.647  2.008   4.104  ...  2.369   4.274  2.617   4.280  2.672
    South America   6.871  2.807   6.518  2.802   6.411  ...  3.380  10.275  3.411   9.924  3.612
    
    [6 rows x 24 columns]

In [ ]:
continent_summary = unemployment.groupby("continent").agg(
    # Create the mean_rate_2021 column
    mean_rate_2021 = ("2021","mean"),
    # Create the std_rate_2021 column
    std_rate_2021 = ("2021","std")
)
print(continent_summary)

#correct output: 
               mean_rate_2021  std_rate_2021
continent                                   
Africa                 10.474          8.132
Asia                    6.906          5.415
Europe                  7.415          3.948
North America           9.155          5.076
Oceania                 4.280          2.672
South America           9.924          3.612

In [ ]:
# Create a bar plot of continents and their average unemployment
sns.barplot(data=unemployment, x='continent', y='2021')
plt.show()