In [ ]:
# Print the relative frequency of Job_Category
print(salaries["Job_Category"].value_counts())

#correct output:
Data Science        0.278
Data Engineering    0.273
Data Analytics      0.226
Machine Learning    0.120
Other               0.069
Managerial          0.034
Name: Job_Category, dtype: float64

In [ ]:
# Cross-tabulate Company_Size and Experience
print(pd.crosstab(salaries["Company_Size"], salaries["Experience"]))

#correct output:
Experience    EN  EX  MI   SE
Company_Size                 
L             24   7  49   44
M             25   9  58  136
S             18   1  21   15

In [ ]:
# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Job_Category"], salaries["Company_Size"]))

#correct output:
Company_Size       L   M   S
Job_Category                
Data Analytics    23  61   8
Data Engineering  28  72  11
Data Science      38  59  16
Machine Learning  17  19  13
Managerial         5   8   1
Other             13   9   6

In [ ]:
# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Job_Category"], salaries["Company_Size"],
            values=salaries["Salary_USD"], aggfunc="mean"))

#correct output:
Company_Size               L           M          S
Job_Category                                       
Data Analytics    112851.749   95912.685  53741.877
Data Engineering  118939.035  121287.061  86927.136
Data Science       96489.520  116044.456  62241.749
Machine Learning  140779.492  100794.237  78812.586
Managerial        190551.449  150713.628  31484.700
Other              92873.911   89750.579  69871.248