In [ ]:
#Instantiate an indexing object by using the Index() function from recordlinkage.
indexer = recordlinkage.Index()

#Block your pairing on cuisine_type by using indexer's' .block() method.
indexer.block('cuisine_type')

#Generate pairs by indexing restaurants and restaurants_new in that order.
pairs = indexer.index(restaurants, restaurants_new)

# Create a comparison object
comp_cl = recordlinkage.Compare()

# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, cuisine_types 
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label = 'cuisine_type')

# Find similar matches of rest_name
comp_cl.string('rest_name', 'rest_name', label='name', threshold = 0.8) 

# Get potential matches and print
potential_matches = comp_cl.compute(pairs, restaurants, restaurants_new)
print(potential_matches)

#correct output:
        city  cuisine_type  name
0   0      0             1   0.0
    1      0             1   0.0
    7      0             1   0.0
    12     0             1   0.0
    13     0             1   0.0
...      ...           ...   ...
40  18     0             1   0.0
281 18     0             1   0.0
288 18     0             1   0.0
302 18     0             1   0.0
308 18     0             1   0.0

[3631 rows x 3 columns]

In [ ]:
#Isolate instances of potential_matches where the row sum is above or equal to 3 by using the .sum() method.
matches = potential_matches[potential_matches.sum(axis=1) >= 3]

#Extract the second column index from matches, which represents row indices of matching record 
#from restaurants_new by using the .get_level_values() method.
matching_indices = matches.index.get_level_values(1)

#Subset restaurants_new for rows that are not in matching_indices.
non_dup = restaurants_new[~restaurants_new.index.isin(matching_indices)]

#Append non_dup to restaurants.
full_restaurants = restaurants.append(non_dup)
print(full_restaurants)

#correct output: 
                   rest_name                  rest_addr               city       phone cuisine_type
0   arnie morton's of chicago   435 s. la cienega blv .         los angeles  3102461501     american
1          art's delicatessen       12224 ventura blvd.         studio city  8187621221     american
2                   campanile       624 s. la brea ave.         los angeles  2139381447     american
3                       fenix    8358 sunset blvd. west           hollywood  2138486677     american
4          grill on the alley           9560 dayton way         los angeles  3102760615     american
..                        ...                        ...                ...         ...          ...
76                        don        1136 westwood blvd.           westwood  3102091422      italian
77                      feast        1949 westwood blvd.            west la  3104750400      chinese
78                   mulberry        17040 ventura blvd.             encino  8189068881        pizza
80                    jiraffe      502 santa monica blvd       santa monica  3109176671  californian
81                   martha's  22nd street grill 25 22nd  st. hermosa beach  3103767786     american

[396 rows x 5 columns]